{{ $item := . }}

<div class="view-list-item">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* TITLE */}}
  {{ if $item.Params.url_source }}
    <a href="{{ $item.Params.url_source }}" target="_blank" rel="noopener">
      {{ $item.Title }}
    </a>
  {{ else }}
    <a href="{{ $item.RelPermalink }}">
      {{ $item.Title }}
    </a>
  {{ end }}

  <div class="article-metadata">
    {{ partial "page_metadata_authors" $item }}
    {{ partial "page_metadata_publication" $item }}
  </div>

  {{ partial "page_links" $item }}
</div>
